<h2>Admin Area</h2>

<%= link_to 'Teams', admin_teams_path %><br/>
<%= link_to 'Users', admin_users_path %><br/>
<%= link_to 'User Profiles', admin_user_profiles_path %><br/>
<%= link_to 'Items', admin_items_path %><br/>
<%= link_to 'Images', admin_images_path %><br/>
<%= link_to 'Categories', admin_categories_path %><br/>
<%= link_to 'Swaps', admin_swaps_path %><br/>

