<tr>
  <td><%= team.name %></td>
  <td><%= team.city %></td>
  <td><%= team.state %></td>
  <td><%= team.country %></td>
  <td><%= team.items.count %></td>
  <td><%= team.user_profiles.count %></td>
  <td><%= link_to 'edit', edit_admin_team_path(team) %></td>
</tr>